.Backdrop {
    z-index: 50;
    background: rgba(0, 0, 0, .7);
    position: fixed;
    /* Свойства позиционирования ниже в нуль высталвенные, для того, чтобы класс (компонент) занимал все пространство */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}